[submodule "tunnel/tools/elf-cleaner"]
	path = tunnel/tools/elf-cleaner
	url = https://github.com/termux/termux-elf-cleaner
[submodule "tunnel/tools/wireguard-tools"]
	path = tunnel/tools/wireguard-tools
	url = https://github.com/extracomplex/wireguard-tools-swgp.git
	branch = swgp
